@charset "utf-8"

@font-face {
  font-family: "Koruri";
  src: local('Koruri-Light'),
  url('https://media.h3z.jp/fonts/Koruri-Light.woff2') format('woff2'),
  url('https://media.h3z.jp/fonts/Koruri-Light.woff') format('woff'),
  url('https://media.h3z.jp/fonts/Koruri-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Koruri";
  src: local('Koruri-Regular'),
  url('https://media.h3z.jp/fonts/Koruri-Regular.woff2') format('woff2'),
  url('https://media.h3z.jp/fonts/Koruri-Regular.woff') format('woff'),
  url('https://media.h3z.jp/fonts/Koruri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Koruri";
  src: local('Koruri-Semibold'),
  url('https://media.h3z.jp/fonts/Koruri-Semibold.woff2') format('woff2'),
  url('https://media.h3z.jp/fonts/Koruri-Semibold.woff') format('woff'),
  url('https://media.h3z.jp/fonts/Koruri-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Koruri";
  src: local('Koruri-Bold'),
  url('https://media.h3z.jp/fonts/Koruri-Bold.woff2') format('woff2'),
  url('https://media.h3z.jp/fonts/Koruri-Bold.woff') format('woff'),
  url('https://media.h3z.jp/fonts/Koruri-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Koruri";
  src: local('Koruri-Extrabold'),
  url('https://media.h3z.jp/fonts/Koruri-Extrabold.woff2') format('woff2'),
  url('https://media.h3z.jp/fonts/Koruri-Extrabold.woff') format('woff'),
  url('https://media.h3z.jp/fonts/Koruri-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/*
	::selection
		background var(--primary)
		color #fff
*/

*
	position relative
	box-sizing border-box
	background-clip padding-box !important
	tap-highlight-color transparent
	-webkit-tap-highlight-color transparent

html, body
	margin 0
	padding 0
	scroll-behavior smooth
	text-size-adjust 100%
	font-family "Koruri" Sans-Serif
 	font-weight 400
 	font-style normal

html.changing-theme
	&, *
		transition background 1s ease !important

a
	text-decoration none
	color var(--link)
	cursor pointer

	&:hover
		text-decoration underline

	*
		cursor pointer

@css {
	a {
		tap-highlight-color: var(--linkTapHighlight) !important;
		-webkit-tap-highlight-color: var(--linkTapHighlight) !important;
	}
}
